body {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin-top: 7em;
    font-size: 17px;
    
}

.container{
    width: 700px; 
    margin-left: auto;
    margin-right: auto;
}